{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Update Password
        </div>
        <div class="card-body">
            <form method="POST" action="/users/update-password">
                {% if msg %}
                    {% if msg_type == 'error' %}
                        <div class="alert alert-danger" role="alert">{{msg}}</div>
                    {% else %}
                        <div class="alert alert-success" role="alert">{{msg}}</div>
                    {% endif %}
                {% endif %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="username" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                      <label>Password</label>
                      <input type="password" class="form-control" name="password" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                      <label>New Password</label>
                      <input type="password" class="form-control" name="new_password" required>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>

    </div>
</div>
